/charts.pdf
/notes.aux
/pres.org
/notes.tex
/notes.pdf
/notes.out
/notes.dvi
/notes.blg
/pres.pdf
/pres.tex
/proposal-presentation.html
/proposal-presentation.org
/ref
/thesis-outline.blg
/thesis-outline.aux
/thesis-outline.bbl
/thesis-outline.out
/thesis-outline.pdf
/thesis-outline.tex
/thesis-outline.toc
/notes.bbl
/auto
/meta/setup.html
/.nrepl-port
